.mainGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.center {
  aspect-ratio: 1/1.2;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  max-height: 425px;
  position: relative;
}

.tiles {
  grid-gap: 0.5rem;
  aspect-ratio: 1/1.2;
  display: grid;
  flex-grow: 1;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tile {
  background: #939599;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid black;
  transition: background 0.2s;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tile::after {
  content: "";
  right: 0px;
  bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: hotpink;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tile.activeSquare::before {
  background-color: aqua;
  bottom: 0.5rem;
  content: "";
  height: 0.2rem;
  left: 1rem;
  position: absolute;
  right: 1rem;
}

.tiles div span {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.tile.correct {
  background: green;
}

.tile.wrongPlace {
  background: purple;
}

.tile.wrong {
  background: rgb(59, 59, 59);
}

.tile.animate {
  animation: shake 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.tile.activeSquare {
  background: #616162;
}

.tile.activeSquare::before {
  animation: blinking 1.5s infinite;
}

.tile.loading {
  animation: buzz 0.15s infinite var(--animation-delay);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.tile.loaded {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  animation: lastTurn 0.8s 1;
  animation-fill-mode: forwards;
}

@keyframes lastTurn {
  0% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0);
  }
}

@keyframes spinning {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes blinking {
  0% {
    background: #747575;
  }
  35% {
    background: #afafaf;
  }
  65% {
    background: #afafaf;
  }
  100% {
    background: #747575;
  }
}

@keyframes buzz {
  0% {
    transform: translate(0, 0) rotateY(180deg);
  }
  10% {
    transform: translate(1px, 0) rotateY(180deg);
  }
  20% {
    transform: translate(1px, 1px) rotateY(180deg);
  }
  30% {
    transform: translate(0, 1px) rotateY(180deg);
  }
  40% {
    transform: translate(-1px, 1px) rotateY(180deg);
  }
  50% {
    transform: translate(-1px, 0) rotateY(180deg);
  }
  60% {
    transform: translate(-1px, -1px) rotateY(180deg);
  }
  70% {
    transform: translate(0, -1px) rotateY(180deg);
  }
  80% {
    transform: translate(1px, -1px) rotateY(180deg);
  }
  90% {
    transform: translate(1px, 0) rotateY(180deg);
  }
  100% {
    transform: translate(0, 0) rotateY(180deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}
