.mainGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.center {
  aspect-ratio: 1/1.2;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  max-height: 425px;
  position: relative;
}

.tiles {
  grid-gap: 0.5rem;
  aspect-ratio: 1/1.2;
  display: grid;
  flex-grow: 1;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tile {
  background: #939599;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid black;
  transition: background 0.2s;
}

.tiles div span {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.tile.correct {
  background: green;
}

.tile.wrongPlace {
  background: purple;
}

.tile.wrong {
  background: rgb(59, 59, 59);
}

.tile.animate {
  animation: shake 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.tile.activeSquare {
  background: #616162;
  animation: blinking 2.2s infinite;
}

@keyframes blinking {
  0% {
    background: #939599;
  }
  35% {
    background: #5a5a5d;
  }
  65% {
    background: #5a5a5d;
  }
  100% {
    background: #939599;
  }
}

/* animation shake list to right  */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}
